<h1> Welcome to Weather Service LLC! </h1>
<br>

<h2> Weather Search</h2>
<br>

<form action="/">
  <input type="text" id="number" name="number" value="" placeholder="Search by number here (Format: 1234567890)">
  <input type="submit" value="Search">
</form>

<br>
